###  VARIABLES

set $mod Mod4
set $alt Mod1

set $term wezterm
set $file_man wezterm start -- ranger
set $menu rofi -show run
set $browser microsoft-edge-beta
set $audio_man pavucontrol

set $left h
set $down j
set $up k
set $right l

###  STARTUP

###  STYLING

default_border pixel 1
client.focused          #81a1c1 #81a1c1 #81a1c1 #81a1c1 #81a1c1
client.focused_inactive #282c34 #282c34 #282c34 #282c34 #282c34
client.urgent           #e06c75 #e06c75 #e06c75 #e06c75 #e06c75
client.unfocused        #282c34 #282c34 #282c34 #282c34 #282c34

gaps inner 10
gaps outer 17

###  KEYBINDINGS
    
## Applications:

    bindsym $mod+Return exec $term
    bindsym $mod+e exec $file_man
    bindsym $mod+Space exec $menu
    bindsym $mod+b exec $browser

## Sway:

    bindsym $mod+Shift+c kill
    bindsym $mod+Shift+q exec swaymsg exit
    bindsym $mod+q reload

    floating_modifier $mod normal

## Window Navigation:

    # Move your focus around
    bindsym $mod+$left focus left
    bindsym $mod+$down focus down
    bindsym $mod+$up focus up
    bindsym $mod+$right focus right

    # Move the focused window with the same, but add Shift
    bindsym $mod+Shift+$left move left
    bindsym $mod+Shift+$down move down
    bindsym $mod+Shift+$up move up
    bindsym $mod+Shift+$right move right

## Workspaces:

    # Switch to workspace
    bindsym $mod+1 workspace number 1
    bindsym $mod+2 workspace number 2
    bindsym $mod+3 workspace number 3
    bindsym $mod+4 workspace number 4
    bindsym $mod+5 workspace number 5
    bindsym $mod+6 workspace number 6

    # Move focused container to workspace
    bindsym $mod+Shift+1 move container to workspace number 1
    bindsym $mod+Shift+2 move container to workspace number 2
    bindsym $mod+Shift+3 move container to workspace number 3
    bindsym $mod+Shift+4 move container to workspace number 4
    bindsym $mod+Shift+5 move container to workspace number 5
    bindsym $mod+Shift+6 move container to workspace number 6

## Layout stuff:

    # Switch layout style of current container
    bindsym $mod+z fullscreen

    bindsym $mod+$alt+$down resize grow height 5px
    bindsym $mod+$alt+$up resize shrink height 5px
    bindsym $mod+$alt+$left resize grow width 10px
    bindsym $mod+$alt+$right resize shrink width 10px

## Scratchpad:

    bindsym $mod+Shift+minus move scratchpad
    bindsym $mod+minus scratchpad show

## Spotify:

    # bindsym $mod+s+p exec spotifycli --playpause
    # bindsym $mod+s+l exec spotifycli --next
    # bindsym $mod+s+h exec spotifycli --previous

###  GET GTK WORKING IN SWAY

exec_always ./gsettings.sh

###  STATUS BAR

bar {
        swaybar_command waybar
    }
}
