[submodule ".config/nvim"]
	path = .config/nvim
	url = git@github.com:aserowy/NeoCode.git
	branch = main
[submodule ".config/ohmyzsh/plugins/zsh-autosuggestions"]
	path = .config/ohmyzsh/plugins/zsh-autosuggestions
	url = git@github.com:zsh-users/zsh-autosuggestions.git
	branch = master
[submodule ".config/ohmyzsh/plugins/zsh-completions"]
	path = .config/ohmyzsh/plugins/zsh-completions
	url = git@github.com:zsh-users/zsh-completions.git
	branch = master
[submodule ".config/ohmyzsh/plugins/zsh-syntax-highlighting"]
	path = .config/ohmyzsh/plugins/zsh-syntax-highlighting
	url = git@github.com:zsh-users/zsh-syntax-highlighting.git
	branch = master
[submodule ".config/ohmyzsh/plugins/zsh-vi-mode"]
	path = .config/ohmyzsh/plugins/zsh-vi-mode
	url = git@github.com:jeffreytse/zsh-vi-mode.git
	branch = master
[submodule ".tmux/plugins/tpm"]
	path = .tmux/plugins/tpm
	url = git@github.com:tmux-plugins/tpm.git
	branch = master
