[submodule "programs/neovim"]
	path = programs/neovim
	url = https://github.com/aserowy/NeoCode.git
[submodule "programs/tmux/plugins/tmux-continuum"]
	path = programs/tmux/plugins/tmux-continuum
	url = https://github.com/tmux-plugins/tmux-continuum
[submodule "programs/tmux/plugins/tmux-resurrect"]
	path = programs/tmux/plugins/tmux-resurrect
	url = https://github.com/tmux-plugins/tmux-resurrect
[submodule "programs/tmux/plugins/tmux-easy-motion"]
	path = programs/tmux/plugins/tmux-easy-motion
	url = https://github.com/IngoMeyer441/tmux-easy-motion
