*

!.config/

!.config/ohmyzsh/
!.config/ohmyzsh/*
!.config/ohmyzsh/completions/*
!.config/ohmyzsh/plugins
!.config/ohmyzsh/plugins/zsh-autosuggestions
!.config/ohmyzsh/plugins/zsh-completions
!.config/ohmyzsh/plugins/zsh-syntax-highlighting
!.config/ohmyzsh/plugins/zsh-vi-mode

!.gitconfig

!.github/
!.github/*

!.gitignore
!.gitmodules

!.ssh/
!.ssh/config.template

!.tmux/
!.tmux/plugins/
!.tmux/plugins/tpm
!.tmux.conf

!.zshrc

!README.md
