* {
  all: unset;
}
.test {
  background-color: #ff0000;
}

.sidebar {
  text-shadow: 2px 2px 2px #000000;
}

.dashboard {
  background-color: rgba(1, 1, 1, 0.25);
}

.container {
  font-family: Inter;
  font-size: 1rem;
  padding: 8px;
  padding-right: 20px;
  box-shadow: inset -5px 0 #61afef;
}

.container-disabled {
  font-family: Inter;
  font-size: 1rem;
  padding: 8px;
  padding-right: 20px;
  box-shadow: inset -3px 0 #abb2bf;
}

.highlight {
  font-weight: 500;
}

.nerd-icon {
  font-family: FiraCode Nerd Font Mono;
  font-size: 2rem;
}
