* {
  all: unset;
}

.sidebar {
  text-shadow: 2px 2px 2px #000000;
}

.dashboard {
  background-color: rgba(1, 1, 1, 0.25);
}

.container {
  padding: 8px;
  padding-right: 20px;
  box-shadow: inset -5px 0 #61afef;

  font-family: Inter;
  font-size: 1rem;
}

.container-disabled {
  padding: 8px;
  padding-right: 20px;
  box-shadow: inset -3px 0 #abb2bf;

  font-family: Inter;
  font-size: 1rem;
}

.highlight {
  font-weight: 500;
}

.nerd-icon {
  font-family: FiraCode Nerd Font Mono;
  font-size: 2rem;
}


.progress_bar scale trough highlight {
	all: unset;
	background-color: white;
	border-radius: 2px;
}

.progress_bar scale trough {
	all: unset;
	background-color: #21252b;
	border-radius: 2px;
	min-height: 3px;
	min-width: 236px;
}
