prefer-no-csd
screenshot-path "~/pictures/%Y-%m-%d %H-%M-%S.png"

hotkey-overlay {
    skip-at-startup
}

input {
    focus-follows-mouse
    warp-mouse-to-focus

    keyboard {
        xkb {
            layout "us"
        }

        repeat-delay 600
        repeat-rate 25
        track-layout "global"
    }
}

output "HDMI-A-1" {
    transform "90"
}

layout {
    gaps 16

    center-focused-column "never"

    preset-column-widths {
        proportion 0.33333
        proportion 0.5
        proportion 0.66667
        proportion 1.0
    }

    default-column-width { proportion 0.33333; }

    focus-ring {
        width 2
        active-color "#FFFFFF"
        inactive-color "#505050"
    }

    border {
        off
    }
}

window-rule {
    geometry-corner-radius 7
    clip-to-geometry true
}

window-rule {
    match app-id=r#"^org\.wezfurlong\.wezterm$"#
    default-column-width {}
}

binds {
    Mod+B { spawn "microsoft-edge-beta"; }
    Mod+T { spawn "alacritty"; }
    Mod+E { spawn "alacritty" "--command" "yeet"; }

    // Mod+Space { spawn "~/.config/rofi/scripts/launch.nu" "drun"; }
    // Mod+Q { spawn "~/.config/rofi/scripts/launch.nu" "power"; }
    // Mod+P { spawn "rofi" "-modi" "actions:~/.config/niri/action_picker.nu" "-show" "actions"; }

    Mod+Space { spawn "fuzzel"; }

    XF86AudioRaiseVolume allow-when-locked=true { spawn "wpctl" "set-volume" "@DEFAULT_AUDIO_SINK@" "0.1+"; }
    XF86AudioLowerVolume allow-when-locked=true { spawn "wpctl" "set-volume" "@DEFAULT_AUDIO_SINK@" "0.1-"; }
    XF86AudioMute allow-when-locked=true { spawn "wpctl" "set-mute" "@DEFAULT_AUDIO_SINK@" "toggle"; }
    XF86AudioMicMute allow-when-locked=true { spawn "wpctl" "set-mute" "@DEFAULT_AUDIO_SOURCE@" "toggle"; }

    Mod+Shift+C { close-window; }

    Mod+H { focus-column-left; }
    Mod+J { focus-window-or-workspace-down; }
    Mod+K { focus-window-or-workspace-up; }
    Mod+L { focus-column-right; }

    Mod+Shift+H { move-column-left; }
    Mod+Shift+J { move-window-down-or-to-workspace-down; }
    Mod+Shift+K { move-window-up-or-to-workspace-up; }
    Mod+Shift+L { move-column-right; }

    Mod+Shift+U { consume-or-expel-window-left; }
    Mod+Shift+I { consume-or-expel-window-right; }

    Mod+G { focus-monitor-left; }
    Mod+Semicolon { focus-monitor-right; }
    Mod+Shift+G { move-column-to-monitor-left; }
    Mod+Shift+Semicolon { move-column-to-monitor-right; }

    Mod+Z { fullscreen-window; }

    Mod+Alt+Semicolon { switch-preset-column-width; }
    Mod+Alt+H { set-column-width "-10%"; }
    Mod+Alt+L { set-column-width "+10%"; }
    Mod+Alt+J { set-window-height "-10%"; }
    Mod+Alt+K { set-window-height "+10%"; }
}
