apiVersion: apps/v1
kind: Deployment
metadata:
  name: gotenberg
  namespace: paperless
spec:
  replicas: 3
  selector:
    matchLabels:
      app.kubernetes.io/name: gotenberg
  strategy:
    type: RollingUpdate
  template:
    metadata:
      labels:
        app.kubernetes.io/name: gotenberg
    spec:
      containers:
        - env:
            - name: CHROMIUM_DISABLE_JAVASCRIPT
              value: "true"
            - name: CHROMIUM_ALLOW_LIST
              value: file:///tmp/.*
          image: docker.io/gotenberg/gotenberg:8.26.0
          name: gotenberg
          ports:
            - containerPort: 3000
              name: http
              protocol: TCP
          resources:
            requests:
              cpu: 100m
              memory: 600Mi
          securityContext:
            allowPrivilegeEscalation: false
            readOnlyRootFilesystem: true
          volumeMounts:
            - mountPath: /home/gotenberg
              name: home
            - mountPath: /tmp
              name: tmp
      securityContext:
        seccompProfile:
          type: RuntimeDefault
      volumes:
        - emptyDir:
            sizeLimit: 500Mi
          name: home
        - emptyDir:
            sizeLimit: 500Mi
          name: tmp
