apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app.kubernetes.io/instance: valkey
    app.kubernetes.io/managed-by: Helm
    app.kubernetes.io/name: valkey
    app.kubernetes.io/version: 9.0.1
    helm.sh/chart: valkey-0.9.3
  name: valkey
  namespace: paperless
spec:
  replicas: 1
  selector:
    matchLabels:
      app.kubernetes.io/instance: valkey
      app.kubernetes.io/name: valkey
  strategy:
    type: RollingUpdate
  template:
    metadata:
      annotations:
        checksum/initconfig: 9e7a24eb242a9106acb77d0f22d5d74d
      labels:
        app.kubernetes.io/instance: valkey
        app.kubernetes.io/name: valkey
    spec:
      automountServiceAccountToken: false
      containers:
        - args:
            - /data/conf/valkey.conf
          command:
            - valkey-server
          env:
            - name: VALKEY_LOGLEVEL
              value: notice
          image: docker.io/valkey/valkey:9.0.1
          imagePullPolicy: IfNotPresent
          livenessProbe:
            exec:
              command:
                - sh
                - -c
                - valkey-cli ping
          name: valkey
          ports:
            - containerPort: 6379
              name: tcp
              protocol: TCP
          resources: {}
          securityContext:
            capabilities:
              drop:
                - ALL
            readOnlyRootFilesystem: true
            runAsNonRoot: true
            runAsUser: 1000
          startupProbe:
            exec:
              command:
                - sh
                - -c
                - valkey-cli ping
          volumeMounts:
            - mountPath: /data
              name: valkey-data
            - mountPath: /etc/valkey
              name: valkey-acl
      initContainers:
        - command:
            - /scripts/init.sh
          image: docker.io/valkey/valkey:9.0.1
          imagePullPolicy: IfNotPresent
          name: valkey-init
          securityContext:
            capabilities:
              drop:
                - ALL
            readOnlyRootFilesystem: true
            runAsNonRoot: true
            runAsUser: 1000
          volumeMounts:
            - mountPath: /data
              name: valkey-data
            - mountPath: /scripts
              name: scripts
            - mountPath: /etc/valkey
              name: valkey-acl
            - mountPath: /valkey-users-secret
              name: valkey-users-secret
              readOnly: true
      securityContext:
        fsGroup: 1000
        runAsGroup: 1000
        runAsUser: 1000
      serviceAccountName: valkey
      volumes:
        - configMap:
            defaultMode: 365
            name: valkey-init-scripts
          name: scripts
        - emptyDir:
            medium: Memory
          name: valkey-acl
        - name: valkey-users-secret
          secret:
            defaultMode: 256
            secretName: valkey-users
        - name: valkey-data
          persistentVolumeClaim:
            claimName: valkey
