* {
  border: none;
  font-family: FiraCode Nerd Font Mono;
  font-size: 100%;
  font-weight: 500;
  text-shadow: 2px 2px 3px #000000;
}

window#waybar {
  background-color: rgba(0, 0, 0, 0);
}

window > box {
  border: 0;
  color: #fff;
}

.modules-left {
  padding-top: 20px;
}

.modules-center {
  font-size: 110%;
}

.modules-right {
  padding-bottom: 20px;
}

#custom-grimshot {
  font-size: 1.5em;
  padding: 0;
  color: #fff;
}
#custom-recorder {
  font-size: 1.5em;
  padding: 0;
  color: #fff;
}
#custom-recorder.recording {
  color: #e06c75;
}

#custom-spotify-metadata {
  font-size: 2.25em;
  padding: 0;
  color: #fff;
}
#custom-spotify-metadata.playing {
  color: #61afef;
}
#custom-spotify-play-pause,
#custom-spotify-prev,
#custom-spotify-next {
  font-size: 1.125em;
  color: #fff;
  padding: 0px;
}

#workspaces button {
  border-radius: 0;
  /* Use box-shadow instead of border so the text isn't offset */
  box-shadow: inset 0 -3px transparent;
  font-size: 1.5em;
  padding-left: 0;
  padding-right: 0;
  color: #fff;
}

#workspaces button:hover {
  background: transparent;
  color: #abb2bf;
}

#workspaces button.focused {
  box-shadow: inset 3px 0 #61afef;
  color: #61afef;
}

#workspaces button.urgent {
  color: #e06c75;
}

#pulseaudio {
  font-size: 1.5em;
  padding: 0;
  color: #fff;
}

#pulseaudio.muted {
  color: #e06c75;
}

#network {
  font-size: 1.5em;
  padding: 0;
  padding-bottom: 20px;
  color: #fff;
}

#battery {
  font-size: 1.5em;
  padding: 0;
  color: #fff;
}

@keyframes blink {
  to {
    color: #fff;
  }
}

#battery.critical:not(.charging) {
  color: #e06c75;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#battery.charging {
  color: #abb2bf;
}

#clock {
  color: #fff;
  padding: 0px;
}
