* {
  all: unset;

  background-color: rgba(0, 0, 0, 0);
  border: none;

  font-family: FiraCode Nerd Font Mono;
  font-size: 1em;
  font-weight: 500;
  text-shadow: 2px 2px 3px #000000;
}

.top {
  padding-top: 2em;
}

.center {
  padding-right: 0.5em;
}

.bottom {
  padding-bottom: 2em;
}

.container {
  padding-bottom: 1.25em;
}

.workspace {
  border-radius: 0;
  /* Use box-shadow instead of border so the text isn't offset */
  box-shadow: inset 0 -3px transparent;
  font-size: 1.75em;
}

.current {
  box-shadow: inset 3px 0 #10B1FE;
  color: #10B1FE;
}

.active {
  color: #10B1FE;
}

.disabled {
  color: #8F9AAE;
}

.warning {
  color: #FC2F52;
}

.invisible {
    opacity: 0;
    font-size: 1px;
}

.nerd-icon {
  font-family: FiraCode Nerd Font Mono;
  font-size: 1.5em;
}

.keyboard-layout {
  font-size: 0.95em;
  font-weight: bold;
}
