apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app.kubernetes.io/instance: longhorn
    app.kubernetes.io/managed-by: Helm
    app.kubernetes.io/name: longhorn
    app.kubernetes.io/version: v1.11.0
    helm.sh/chart: longhorn-1.11.0
  name: longhorn-driver-deployer
  namespace: longhorn-system
spec:
  replicas: 1
  selector:
    matchLabels:
      app: longhorn-driver-deployer
  template:
    metadata:
      labels:
        app: longhorn-driver-deployer
        app.kubernetes.io/instance: longhorn
        app.kubernetes.io/managed-by: Helm
        app.kubernetes.io/name: longhorn
        app.kubernetes.io/version: v1.11.0
        helm.sh/chart: longhorn-1.11.0
    spec:
      containers:
        - command:
            - longhorn-manager
            - -d
            - deploy-driver
            - --manager-image
            - docker.io/longhornio/longhorn-manager:v1.11.0
            - --manager-url
            - http://longhorn-backend:9500/v1
          env:
            - name: POD_NAMESPACE
              valueFrom:
                fieldRef:
                  fieldPath: metadata.namespace
            - name: NODE_NAME
              valueFrom:
                fieldRef:
                  fieldPath: spec.nodeName
            - name: SERVICE_ACCOUNT
              valueFrom:
                fieldRef:
                  fieldPath: spec.serviceAccountName
            - name: CSI_ATTACHER_IMAGE
              value: docker.io/longhornio/csi-attacher:v4.10.0-20251226
            - name: CSI_PROVISIONER_IMAGE
              value: docker.io/longhornio/csi-provisioner:v5.3.0-20251226
            - name: CSI_NODE_DRIVER_REGISTRAR_IMAGE
              value: docker.io/longhornio/csi-node-driver-registrar:v2.15.0-20251226
            - name: CSI_RESIZER_IMAGE
              value: docker.io/longhornio/csi-resizer:v2.0.0-20251226
            - name: CSI_SNAPSHOTTER_IMAGE
              value: docker.io/longhornio/csi-snapshotter:v8.4.0-20251226
            - name: CSI_LIVENESS_PROBE_IMAGE
              value: docker.io/longhornio/livenessprobe:v2.17.0-20251226
          image: docker.io/longhornio/longhorn-manager:v1.11.0
          imagePullPolicy: IfNotPresent
          name: longhorn-driver-deployer
      initContainers:
        - command:
            - sh
            - -c
            - while [ $(curl -m 1 -s -o /dev/null -w "%{http_code}" http://longhorn-backend:9500/v1) != "200" ]; do echo waiting; sleep 2; done
          image: docker.io/longhornio/longhorn-manager:v1.11.0
          name: wait-longhorn-manager
      priorityClassName: longhorn-critical
      securityContext:
        runAsUser: 0
      serviceAccountName: longhorn-service-account
