default_layout "compact"
default_shell "nu"

simplified_ui true
pane_frames false

pane_viewport_serialization true
scrollback_lines_to_serialize 0

ui {
    pane_frames {
        hide_session_name true
    }
}

keybinds clear-defaults=true {
    entersearch {
        bind "Enter" { SwitchToMode "tmux"; }
    }
    normal {
        bind "Ctrl t" { SwitchToMode "tmux"; }
    }
    resize {
        bind "Esc" { SwitchToMode "normal"; }
        bind "Ctrl t" { SwitchToMode "tmux"; }

        bind "h" { Resize "Left"; }
        bind "j" { Resize "Down"; }
        bind "k" { Resize "Up"; }
        bind "l" { Resize "Right"; }
    }
    tmux {
        bind "Ctrl o" {
            LaunchOrFocusPlugin "zellij:session-manager" {
                floating true
            };
            SwitchToMode "normal";
        }
        bind "Ctrl r" { SwitchToMode "resize"; }
        bind "Ctrl s" { SwitchToMode "scroll"; }

        bind "Esc" { SwitchToMode "normal"; }

        bind "n" { Search "down"; }
        bind "N" { Search "up"; }

        bind "Ctrl t" { NewTab; SwitchToMode "normal"; }
        bind "Ctrl n" { GoToNextTab; SwitchToMode "normal"; }
        bind "Ctrl p" { GoToPreviousTab; SwitchToMode "normal"; }

        bind "Ctrl w" { NewPane "Right"; SwitchToMode "normal"; }

        bind "Ctrl h" { MoveFocus "Left"; SwitchToMode "normal"; }
        bind "Ctrl j" { MoveFocus "Down"; SwitchToMode "normal"; }
        bind "Ctrl k" { MoveFocus "Up"; SwitchToMode "normal"; }
        bind "Ctrl l" { MoveFocus "Right"; SwitchToMode "normal"; }

        bind "Ctrl z" { ToggleFocusFullscreen; SwitchToMode "normal"; }

        bind "q" { Quit; }
    }
    scroll {
        bind "Esc" { SwitchToMode "Normal"; }
        bind "Ctrl t" { SwitchToMode "tmux"; }

        bind "e" { EditScrollback; SwitchToMode "Normal"; }

        bind "s" { SwitchToMode "EnterSearch"; SearchInput 0; }

        bind "G" { ScrollToBottom; SwitchToMode "Normal"; }

        bind "j" { ScrollDown; }
        bind "k" { ScrollUp; }

        bind "l" { PageScrollDown; }
        bind "h" { PageScrollUp; }

        bind "d" { HalfPageScrollDown; }
        bind "u" { HalfPageScrollUp; }
    }
}

themes {
    default {
        fg "#b9c0cb"
        bg "#282c34"
        black "#41444d"
        red "#fc2f52"
        green "#3fc56b"
        yellow "#f9c859"
        blue "#10b1fe"
        magenta "#7a82da"
        cyan "#4483aa"
        white "#cdd4e0"
        orange "#ff936a"
    }
}
