@define-color background  rgba(249, 249, 249, 0.9);
@define-color foreground #1a1a1a;

@define-color item-bg rgba(255, 255, 255, 0.9);
@define-color item-hover #1a1a1a;
@define-color slider-empty #1a1a1a;
@define-color tint #DC8ADD;

* {
    color: @foreground;
    font-size: 12px;
    font-family: Inter;
    transition: 200ms;
}

.blank-window {
    background: transparent;
}

.control-center {
    background: @background;
    border-radius: 8px;
    padding: 12px;
}

.widget-title {
    padding: 10px 10px 0px 10px;
    font-size: 22px;
    color: @foreground;
}

.widget-title > button {
    font-family: "JetBrains Mono NerdFont", sans-serif;
    border: 0px;
    background: transparent;
    font-size: inherit;
    padding: 0 35px 0 30px;
}

.widget-title > button:hover {
    background: @item-bg;
}

.widget-title > button:active {
    background: @background;
}

.notification-row {
    margin: 0px;
    padding: 0px;
    color: @foreground;
}

.notification {
    background-color: @item-bg;
    color: @foreground;
    box-shadow: none;
    border: 0;
}

.notification-content {
    padding: 5px;
}

.notification-group {
    background-color: transparent;
}

.notification-group-icon {
    color: @tint;
}

.notification-group-collapse-button,
.notification-group-close-all-button {
    background-color: @tint;
    border: 0px;
}

.notification-group.collapsed:hover .notification {
    background-color: @background;
}

.notification-default-action:hover {
    background-color: @background;
}

.notification-action:hover {
    background-color: @item-hover;
}

.notification-default-action:active,
.notification-action:active {
    background-color: @background;
}

.notification-content .text-box {
    padding: 0px 5px;
}

.close-button {
    background-color: @tint;
}

.widget-volume {
    background-color: @item-bg;
    border-radius: 20px;
    margin: 0 10px;
}

trough highlight {
    background-color: @foreground;
}

scale trough {
    background-color: transparent;
    border: transparent;
    padding: 0px;
    min-height: 5px;
    margin: 0 0 0 10px;
    font-family: "JetBrains Mono NerdFont", sans-serif;
}

slider {
    background-color: @slider-empty;
    border: 2px solid @foreground;
}

.widget-volume label {
    padding: 0 0 0 10px;
    color: @foreground;
}

.widget-volume trough highlight {
    background: @tint;
    border: unset;
}

.widget-volume button {
    background-color: inherit;
    box-shadow: unset;
    font-size: 20px;
    padding: 0 20px 0 0;
    border-radius: 20px;
    color: @tint;
    font-family: "JetBrains Mono NerdFont", sans-serif;
}

.widget-buttons-grid {
    background-color: transparent;
    font-size: x-large;
    padding: 6px 2px;
    margin: 6px;
    border-radius: 12px;
}

.widget-buttons-grid > flowbox > flowboxchild > button {
    background-color: transparent;
    border-radius: 8px;
    border: unset;
    box-shadow: unset;
}

.widget-buttons-grid > flowbox > flowboxchild > button:hover {
    background-color: @item-bg;
}

.widget-buttons-grid > flowbox > flowboxchild > button:active {
    background-color: @background;
}

.widget-buttons-grid > flowbox > flowboxchild > button label {
    color: @foreground;
    font-family: "JetBrains Mono NerdFont", sans-serif;
    font-size: 20px;
}
