* {
  border: none;
  font-family: FiraCode Nerd Font Mono;
  font-size: 100%;
  font-weight: 500;
}

window#waybar {
  background-color: rgba(0, 0, 0, 0);
}

window > box {
  background-color: #23272e;
  border: 0;
  border-radius: 6px;
  color: #abb2bf;
  margin-top: 25px;
  margin-left: 15px;
  margin-bottom: 25px;
}

.modules-left {
}

.modules-center {
}

.modules-right {
  padding-bottom: 20px;
}

#custom-launch {
  padding-top: 10px;
  font-size: 2.25em;
  color: #61afef;
}

#custom-power {
  padding-top: 10px;
  font-size: 2.25em;
  color: #e06c75;
}

#custom-spotify-metadata {
  padding-top: 10px;
  font-size: 2.25em;
  color: #98c379;
}
#custom-spotify-play-pause,
#custom-spotify-prev,
#custom-spotify-next {
  color: #98c379;
  font-size: 1.125em;
}
#custom-spotify-play-pause.playing {
  color: #98c379;
}
#custom-spotify-play-pause.paused {
  color: #e5c07b;
}
#custom-spotify-next {
  padding-bottom: 10px;
}

#workspaces button {
  background-color: transparent;
  border-radius: 0;
  color: #abb2bf;
  font-size: 1.5em;
}

#workspaces button:hover {
  background-color: #abb2bf;
  color: #282c34;
}

#workspaces button.focused {
  background-color: #474e5d;
  color: #e06c75;
}

#workspaces button.urgent {
  background-color: #e06c75;
  color: #282c34;
}

#pulseaudio {
  color: #e5c07b;
  font-size: 1.5em;
}

#pulseaudio.muted {
  color: #e06c75;
}

#network {
  color: #61afef;
  font-size: 1.5em;
  padding-bottom: 20px;
}

#battery {
  color: #98c379;
  font-size: 1.5em;
}

#battery.warning {
  color: #e5c07b;
}

@keyframes blink {
  to {
    color: #abb2bf;
  }
}

#battery.critical:not(.charging) {
  color: #e06c75;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#battery.charging {
  color: #c678dd;
}

#clock {
  color: #98c379;
}
