apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  annotations:
    includeMutationWebhook: "true"
    serverSideDiff: "true"
  name: kyverno
  namespace: argocd
spec:
  destination:
    namespace: kyverno
    server: https://kubernetes.default.svc
  project: default
  source:
    path: ./kyverno
    repoURL: https://github.com/aserowy/dots.git
    targetRevision: homelab
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - ServerSideApply=true
