apiVersion: batch/v1
kind: Job
metadata:
  annotations:
    helm.sh/hook: pre-delete
    helm.sh/hook-delete-policy: before-hook-creation,hook-succeeded,hook-failed
    helm.sh/hook-weight: "100"
  labels:
    app.kubernetes.io/component: hooks
    app.kubernetes.io/instance: kyverno
    app.kubernetes.io/managed-by: Helm
    app.kubernetes.io/part-of: kyverno
    app.kubernetes.io/version: 3.6.1
    helm.sh/chart: kyverno-3.6.1
  name: kyverno-rm-validatingwhconfig
  namespace: policies
spec:
  backoffLimit: 2
  template:
    spec:
      automountServiceAccountToken: true
      containers:
        - command:
            - kubectl
            - delete
            - validatingwebhookconfiguration
            - -l
            - webhook.kyverno.io/managed-by=kyverno
          image: registry.k8s.io/kubectl:v1.32.7
          name: kubectl
          resources:
            limits:
              cpu: 100m
              memory: 256Mi
            requests:
              cpu: 10m
              memory: 64Mi
          securityContext:
            allowPrivilegeEscalation: false
            capabilities:
              drop:
                - ALL
            privileged: false
            readOnlyRootFilesystem: true
            runAsGroup: 65534
            runAsNonRoot: true
            runAsUser: 65534
            seccompProfile:
              type: RuntimeDefault
      restartPolicy: Never
      serviceAccountName: kyverno-admission-controller
