{
    "modules-left": ["custom/launch", "sway/workspaces"],
    "modules-right": [
        "pulseaudio",
        "backlight",
        "network",
        "battery",
        "clock",
        "custom/off"
    ],
    "custom/launch": {
        "format": " ",
        "on-click": "rofi -show run"
    },
    "sway/workspaces": {
        "disable-scroll": true,
        "all-outputs": true,
        "format": " {icon} ",
        "persistent_workspaces": {
            "1": [],
            "2": [],
            "3": [],
            "4": [],
            "5": [],
        },
        "format-icons": {
            "urgent": " ",
            "focused": " ",
            "default": " "
        }
    },
    "pulseaudio": {
        "scroll-step": 5,
        "format": "{icon} {volume}%", "format-bluetooth": "{volume}% {icon} {format_source}",
        "format-bluetooth-muted": "婢  {icon} muted",
        "format-muted": "婢  muted",
        "format-icons": {
            "hands-free": "",
            "headset": "",
            "phone": "",
            "portable": "",
            "car": "",
            "headphone": [" ", " ", " "]
        },
        "on-click": "pavucontrol"
    },
    "network": {
        "format-wifi": "直  {essid}",
        "format-ethernet": "直  {ifname}: {ipaddr}/{cidr}",
        "format-linked": "直  {ifname} (No IP)",
        "format-disconnected": "睊  Disconnected",
        "format-alt": "直  {ifname}: {ipaddr}/{cidr}"
    },
    "battery": {
        "interval": 60,
        "states": {
            "warning": 30,
            "critical": 15
        },
        "format": "{icon}  {capacity}%",
        "format-icons": [" ", " ", " ", " ", " "]
    },
    "clock": {
        "interval": 1,
        "format": "  {:%I:%M %p}",
        "format-alt": "  {:%b %d, %G}"
    },
    "custom/off": {
        "format": " ",
        "on-click": "swaymsg exit"
    }
}
