* {
  border: none;
  border-radius: 2px;
  font-family: FiraCode Nerd Font Mono;
  font-size: 100%;
  font-weight: 500;
}

window#waybar {
  background-color: rgba(0, 0, 0, 0);
}

window > box {
  margin-top: 5px;
  margin-left: 26px;
  margin-right: 26px;
  color: #abb2bf;
}

.modules-left {
}

.modules-center {
}

.modules-right {
  background-color: #282c34;
  padding-left: 10px;
}

label:focus {
  background-color: #282c34;
}

#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#workspaces,
#clock,
#tray,
#mode,
#idle_inhibitor,
#mpd {
  padding: 0 10px;
  color: #282c34;
}

#custom-launch {
  padding-left: 10px;
  padding-right: 10px;
  font-size: 1.5em;
  background-color: #61afef;
  color: #282c34;
}

#workspaces button {
  margin-left: 1px;
  font-size: 1.5em;
  background-color: transparent;
  color: #abb2bf;
}

#workspaces button:hover {
  background-color: #abb2bf;
  color: #282c34;
}

#workspaces button.focused {
  background-color: #474e5d;
  color: #e06c75;
}

#workspaces button.urgent {
  background-color: #e06c75;
  color: #282c34;
}

#pulseaudio {
  color: #e5c07b;
}

#pulseaudio.muted {
  color: #e06c75;
}

#network {
  color: #61afef;
}

#battery {
  color: #98c379;
}

#battery.warning {
  color: #e5c07b;
}

#battery.charging {
  color: #c678dd;
}

#battery.plugged {
  color: #98c379;
}

@keyframes blink {
  to {
    color: #abb2bf;
  }
}

#battery.critical:not(.charging) {
  color: #e06c75;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#clock {
  color: #98c379;
}
