{
    "position": "left",

    "modules-left": ["custom/launch"],
    "modules-center": ["sway/workspaces"],
    "modules-right": [
        "backlight",
        "pulseaudio",
        "battery",
        "network",
        "clock#hour",
        "clock#mins",
    ],

    "battery": {
        "interval": 60,
        "states": {
            "warning": 30,
            "critical": 15
        },
        "format": "{icon}",
        "format-icons": ["", "", "", "", ""]
    },
    "clock#hour": {
        "interval": 1,
        "format": "{:%H}",
    },
    "clock#mins": {
        "interval": 1,
        "format": "{:%M}",
    },
    "custom/launch": {
        "format": "",
        "on-click": "rofi -show run"
    },
    "sway/workspaces": {
        "all-outputs": true,
        "disable-scroll": true,
        "format": "{icon}",
        "format-icons": {
            "default": "",
            "focused": "",
            "music": "",
            "social": "",
            "urgent": "",
        }
    },
    "network": {
        "format-wifi": "直",
        "format-ethernet": "直",
        "format-linked": "",
        "format-disconnected": "睊",
    },
    "pulseaudio": {
        "scroll-step": 5,
        "format": "{icon}",
        "format-bluetooth": "{icon}",
        "format-bluetooth-muted": "婢",
        "format-muted": "婢",
        "format-icons": {
            "phone": "",
            "headphone": "",
            "default": ["", "", ""]
        },
        "on-click": "pavucontrol",
        "states": {
            "low": 0,
            "mid": 50,
            "high": 90
        }
    },
}
