@define-color prompt #5f5f5f;
@define-color placeholder #5f5f5f;
@define-color input #1a1a1a;
@define-color background #f9f9f9;
@define-color text #1a1a1a;
@define-color match #1a1a1a;
@define-color selection-match #1a1a1a;
@define-color selection #ffffff;
@define-color selection-text #1a1a1a;

* {
  all: unset;
  font-family: Inter;
}

#window {
  background: transparent;
}

box#main {
  border-radius: 8px;
  background-color: alpha(@background, 0.6);
  border: 0.5px solid alpha(@background, 0.6);
}

entry#entry {
  font-size: 1.25rem;
  background: transparent;
  box-shadow: none;
  border: none;
  border-radius: 16px;
  padding: 16px 24px;
  min-height: 40px;
  caret-color: @prompt;
}

list#main {
  background-color: transparent;
}

#plugin {
  background-color: transparent;
  padding-bottom: 4px;
}

#match {
  font-size: 1.1rem;
  padding: 2px 4px;
}

#match:selected,
#match:hover {
  background-color: @selection;
  color: @selection-text;
}

#match:selected label#info,
#match:hover label#info {
  color: @text;
}

#match:selected label#match-desc,
#match:hover label#match-desc {
  color: @selection-text;
}

#match label#info {
  color: @text;
}

label#match-desc {
  font-size: 1rem;
  color: @text;
}

label#plugin {
  font-size: 1.25rem;
}
