name: "auto_update_renovate"

on:
  workflow_dispatch:
  schedule:
    - cron: "0 */6 * * *"

jobs:
  update_renovate:
    runs-on: ubuntu-latest
    steps:
      - name: retrieve app token
        uses: actions/create-github-app-token@v2
        id: app-token
        with:
          app-id: ${{ secrets.APP_ID }}
          private-key: ${{ secrets.PRIVATE_KEY }}

      - name: checkout
        uses: actions/checkout@v6

      - name: renovate
        uses: renovatebot/github-action@v46.1.0
        with:
          configurationFile: .github/renovate-config.js
          token: '${{ steps.app-token.outputs.token }}'
        env:
          LOG_LEVEL: debug
