name: "auto_update_flake"

on:
  workflow_dispatch:
  schedule:
    - cron: "0 20 * * *"

jobs:
  update_flake:
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v6

      - name: install nix
        uses: cachix/install-nix-action@v31
        with:
          nix_path: nixpkgs=channel:nixos-unstable
          extra_nix_config: |
            experimental-features = nix-command flakes

      - name: update flake
        run: |
          git config --local user.email "serowy@hotmail.com"
          git config --local user.name "aserowy"
          nix flake update

      - name: check flake
        run: nix flake check -v --show-trace
        timeout-minutes: 90

      - name: commit and push changes
        uses: stefanzweifel/git-auto-commit-action@v7
        with:
          commit_message: update flake inputs
